@import url('https://fonts.googleapis.com/css?family=Mukta:400,700&display=swap&subset=devanagari,latin-ext');
html{
	height:100%;
}
body {
  word-wrap: break-word;
  font-family: 'Mukta', sans-serif;
  font-size: large;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
	min-height: 100%;
	padding:0;
	margin: 0;
	border: 0;
  background-image: url('logo.svg');
  background-size: 4em;
  transition: background-size 0.2s linear;
  -webkit-transition: background-size 0.2s linear;
    -moz-transition: background-size 0.2s linear;
    -o-transition: background-size 0.2s linear;
    -ms-transition: background-size 0.2s linear;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
p {
	font-size: medium;
}
#outerspace{
	padding: 0;
	margin: 0;
	border: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	display: block;
	transition: 0.2s;
  -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
}
#space, #spacebuffer{
	padding-top: 1em;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0;
	border: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	display: none;
}
#space img, #spacebuffer img{
	margin-left: -1em;
	margin-right: -1em;
	margin-top: 0;
	width: 100vw;
}
.hintbutton, .hintbuttonbuffer {
	color: #808080;
	font-size: medium;
	font-weight: bold;
	display: none;
}
.hint, .hintbuffer {
	color: #808080;
	font-size: medium;
}
#inputplace, #inputplacebuffer {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
.emojiplace, .emojiplacebuffer{
	text-align: center;
	padding-top: 1em;
	margin: 0;
	border: 0;
}
#space .emojiplace img, #spacebuffer .emojiplacebuffer img{
	margin: 0;
	display: inline-block;
	width: 4em;
	height: auto;
}
.keyboard {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #E0E0E0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
}
.nonselectable{
   user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.keyboard .keys {
  position: absolute;
  width: 10%;
  text-align: center;
  vertical-align: middle;
  padding-top: 13%;
}
.keys .text {
  font-weight: normal;
  color:black;
  position: absolute;
  bottom:0;
  text-align: center;
}
.text.pressed{
	font-weight: bold;
}
.answer{
  display:none;
}
.button {
  background-color: #404040; /* Green */
  color: white;
	font-size:x-large;
	text-decoration: none;
	border: none;
	
  text-align: center;
  display: inline-block;
}
