@import url('https://fonts.googleapis.com/css?family=Mukta:400,700&display=swap&subset=devanagari,latin-ext');
body {
  word-wrap: break-word;
  font-family: 'Mukta', sans-serif;
  font-size: large;
  overflow-x: hidden;
  overflow-y: scroll;
}
#space{
}
#inputplace {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: indigo;
}
.keyboard {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #E5E4E2;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  transition: 0.2s;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.keyboard .keys {
  position: absolute;
  width: 10%;
  text-align: center;
  vertical-align: middle;
  padding-top: 13%;
}
.keys .text {
  font-weight: bold;
  color:black;
  position: absolute;
  bottom:0;
  text-align:center;
}
.answer{
  display:none;
}
.button {
  background-color: #4CAF50; /* Green */
  color: white;
	font-size:x-large;
	text-decoration: none;
	border: none;
  text-align: center;
  display: inline-block;
}













@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}
