@import url('https://fonts.googleapis.com/css?family=Mukta:400,700&display=swap&subset=devanagari,latin-ext');
body {
  word-wrap: break-word;
  font-family: 'Mukta', sans-serif;
  font-size: large;
  overflow-x: hidden;
  overflow-y: scroll;
}
#space {
  opacity: 0;
  transition: 0.5s;
}

#inputplace {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #ff2400;
}
.keyboard {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #E5E4E2;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  transition: 0.2s;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.keyboard .keys {
  position: absolute;
  width: 10%;
  text-align: center;
  vertical-align: middle;
  padding-top: 13%;
}
.keys .text {
  font-weight: bold;
  color:black;
  position: absolute;
  bottom:0;
  text-align:center;
}
.answer{
  display:none;
}
.button {
  font-family: 'Mukta', sans-serif;
  display: inline-block;
  padding: 5px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
